/*@media all and (max-width: 900px) {
	.blank {
		display: none;
	}

	.content-2 {
		height: 350px;
		width: auto;
	}

	.row-2 .content-2 {
		margin: 10px 2% 20px 2%;
		width: 95%;
	}

	#mainText {
	margin-top: 50px;
}*/