@import url('https://fonts.googleapis.com/css?family=Lora');

html * {
	font-family: 'Lora', serif;
}

h1 {
	font-size: 40px;
	color: white;
	padding: 10px;
}

h3 {
	font-size: 20px;
	color: white;
	padding: 10px;
}

h2 {
	font-size: 30px;
	color:white;
	padding: 10px;
}

p {
	font-size: 12px;
	font-color: white;
	padding: 10px;
}

.header-inner-menu * {
	font-size: 18px;
	font-weight: bold;
}

.header-inner-menu a , .footer a {
	text-decoration: none;
}

.header-inner-menu a:link, .footer a:link {
		color: #ddd;
}
.header-inner-menu a:visited, .footer a:visited {
		color: #ddd;
}
.header-inner-menu a:hover, .footer a:hover {
		color: white;
}
.header-inner-menu a:active, .footer a:active {
		color: #ddd;
}

.footer * {
	font-size: 14px;
	font-weight: bold;
}


