@import url('https://fonts.googleapis.com/css?family=Lora');

html * {
	font-family: 'Lora', serif;
}

.grid-box-hd {
	font-size: 40px;
	color: white;
}

.grid-box-bd {
	font-size: 20px;
	color: white;
	padding: 10px;
}


.header-inner-menu * {
	font-size: 18px;
	font-weight: bold;
}

.header-inner-menu a , .footer-primary a {
	text-decoration: none;
	padding: 10px;
}

.header-inner-menu a:link, .footer-primary a:link {
		color: #ddd;
}
.header-inner-menu a:visited, .footer-primary a:visited {
		color: #ddd;
}
.header-inner-menu a:hover, .footer-primary a:hover {
		color: white;
}
.header-inner-menu a:active, .footer-primary a:active {
		color: #ddd;
}

.footer * {
	font-size: 14px;
	font-weight: bold;
}


