body {
	background-image: url('../public/forestshack.jpg');
	background-position: center;
	width: auto;
	// background-size: 2000px;
	// height: 450;
}

.container {
	font-size: 0;
	max-width: 900px;
	margin: auto;
	// border: 4px solid black;
	box-sizing: border-box;


}

.content {
	display: inline-block;
	box-sizing: border-box;
	padding: 30px;
	margin-bottom: 30px;
}


.row-header {
	
}

.row > * {
	display: inline-block;
}

#mainText {
	margin-top: 100px;
}

.title-wrapper {
	background: $BACKGROUND_COLOR;
	border-radius: 3px;
	text-align: center;
}

.title-wrapper h1, .title-wrapper h3 {
	text-align: left;
}

.content-2 {
	width: 450px;
	height: 450px;
	float: left;
}

.row-2 .content-2 {
	background: $BACKGROUND_COLOR;
	width: 420px;
	height: auto;
	border-radius: 3px;
	margin: 5px 10px 20px 10px;
}

.content-3 {
	width: 300px;
	height: 300px;
	background-color: rgba(20,20,20,.8);
	border: 1px dashed black;
	float: left;
}

.footer {
	clear: both;
}


@media all and (max-width: 900px) {
	.blank {
		display: none;
	}

	.content-2 {
		height: 350px;
		width: auto;
	}

	.row-2 .content-2 {
		margin: 10px 2% 20px 2%;
		width: 95%;
	}

	#mainText {
	margin-top: 50px;
	}


}
