

.navigation {
	background: $BACKGROUND_COLOR;
	max-width: 900px;
	height: 50px;
	margin: auto;
	display: flex;
	flex-direction: row;
	align-items: center;
}

.navigation li:nth-child(2) { //hide menu button on large resolutions
	display: none;
}

.navigation img {
	display: block;
}

.navigation *  {
	margin: 0 10px 0 10px;
}

@media all and (max-width: 900px) {

}

@media all and (max-width: 600px) {
	.navigation li:first-child {
		display: none;
	}

	.navigation li:nth-child(2) { //show menu
		display: block;
	}

	.navigation .li-hide {
		display: none;
	}

	.navigation .li-show {
		display: block;
	}

	.navigation li {
		border-bottom: 1px solid white;
		padding: 10px;
	}
	.navigation {
		height: auto;
		width: 100%;
		display: flex;
		flex-direction: column;
    	justify-content: space-around;
    	background: rgba(118, 200, 214, .8);
	}

}
