/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css?family=Lora");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

html {
  height: 100%; }

body {
  background-image: url("../public/forestshack.jpg");
  background-position: center;
  width: auto;
  display: table;
  width: 100%;
  height: 100%; }

body * {
  box-sizing: border-box; }

.container {
  font-size: 0;
  max-width: 900px;
  margin: auto;
  box-sizing: border-box;
  display: table-row;
  height: 1px; }

.container-expand {
  height: 100%; }

.grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center; }

.grid-box {
  width: 300px;
  height: 450px;
  font-size: 16px;
  padding: 20px;
  display: flex;
  align-items: center; }

.grid-box-inner {
  background-color: rgba(118, 200, 214, 0.5);
  border-radius: 3px; }

.grid-box-inner > * {
  padding: 20px; }

.grid-box-cta {
  text-align: center; }

@media all and (max-width: 600px) {
  .grid {
    flex-direction: column;
    justify-content: center; }

  .grid-box {
    width: 100%;
    height: auto; } }
.header-inner {
  background: rgba(118, 200, 214, 0.5);
  width: 100%;
  height: 50px;
  margin: auto; }

.header-inner-menu {
  display: flex;
  flex-direction: row;
  align-items: center; }

.header-inner-menu > * {
  display: inline-block; }

.header-inner-menu li:nth-child(2) {
  display: none; }

.header-inner-menu img {
  display: block; }

.header-inner-menu * {
  margin: 0 10px 0 10px; }

@media all and (max-width: 600px) {
  .header-inner {
    height: auto;
    text-align: center; }

  .header-inner-menu {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background: rgba(118, 200, 214, 0.8);
    width: 100%; }

  .header-inner-menu li:first-child {
    display: none; }

  .header-inner-menu li:nth-child(2) {
    display: inline-block; }

  .header-inner-menu .li-hide {
    display: none; }

  .header-inner-menu .li-show {
    display: inline-block; }

  .header-inner-menu li {
    border-bottom: 1px solid white;
    width: 100%;
    padding: 10px; }

  #iconContainer {
    display: inline-block; }

  #menuIcon {
    width: 20px;
    height: 3px;
    background-color: white;
    margin: 4px 0;
    border-radius: 4px; } }
html * {
  font-family: 'Lora', serif; }

.grid-box-hd {
  font-size: 40px;
  color: white; }

.grid-box-bd {
  font-size: 20px;
  color: white;
  padding: 10px; }

.header-inner-menu * {
  font-size: 18px;
  font-weight: bold; }

.header-inner-menu a, .footer-primary a {
  text-decoration: none;
  padding: 10px; }

.header-inner-menu a:link, .footer-primary a:link {
  color: #ddd; }

.header-inner-menu a:visited, .footer-primary a:visited {
  color: #ddd; }

.header-inner-menu a:hover, .footer-primary a:hover {
  color: white; }

.header-inner-menu a:active, .footer-primary a:active {
  color: #ddd; }

.footer * {
  font-size: 14px;
  font-weight: bold; }

footer {
  display: table-row; }

.footer-inner {
  width: 100%;
  background-color: rgba(118, 200, 214, 0.5);
  margin: auto;
  clear: both; }

.footer-primary {
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center; }

.button {
  padding: 10px;
  border-radius: 10px;
  margin: 0 0 10px 0;
  color: rgba(0, 0, 0, 0.5);
  background-color: white;
  border: 0;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 2px;
  text-decoration: none;
  transition-duration: .5s; }

.button:hover {
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
  color: black; }

/*# sourceMappingURL=main.css.map */
