.footer-inner {
    width: 100%;
    background-color: $BACKGROUND_COLOR;
    margin: auto;
    clear: both;
    position: fixed;
    bottom: 0;
    margin: auto;


}

.footer-primary {
	height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
}
