.footer {
	max-width: 900px;
	background-color: $BACKGROUND_COLOR;
	margin: auto;
}

.footer {
	height: 35px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.footer li {
	margin: 0 15px 0 15px;
	display: block;
}

@media all and (max-width: 900px) {
	.footer {
	width: 100%;
	}
}